.departureRow .departureLine {
    margin-left: 3px;
    color: white;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 5px;
}

.departureRow .departureLine.ubahn {
    background-color: #006291;
}

.departureRow .departureLine.tram {
    background-color: #852D6D;
}

.departureRow .departureLine.bus {
    background-color: #E4342E;
}

.departureRow .departureTime {
    font-size: 1.2rem;
    font-weight: bold;
}

.departureRow .departureDelay {
    padding-left: 0.3rem;
    font-size: 0.8rem;
}



.departureRow .departureDelay.isDelayed {
    color: red;
    font-weight: bold;
}

.departureRow .departureDelay.isInTime {
    color: green;
}

.deapartureContainer h3 {
    line-height: 1;
    margin-bottom: 1rem;
}